$clrBlack: #333333;
$clrTextInactive: #666666;
$clrBg: #fff;
$clrLightGrey: #C4C4C4;
$clrUltraLightGrey: #F0F2EC;
$clrExtraLightGrey: #DEDEDE;
$clrGreen: #5BA641;
$clrButton: #f7b22a;
//$clrButton: #7ABF62;
$clrButtonPressed: #fda800;
//$clrButtonPressed: #46922B;
$clrLinkBorder: rgba(255, 255, 255, .3);
$clrPagination: #F5D58F;
$clrCardBg: #FBFCFA;
$clrBlue: #3067F3;
$clrGrey: #848484;
$clrBackground: #F8F8F8;

$shadowCard: 0 5px 20px rgba(47,61,2,.1);
$shadowCardHover: 0 10px 30px rgba(47,61,2,.15);