header{
    position: absolute;
    width: 100%;
    // top: 0px;
    // left: 0px;
    // height: 99px;
    z-index: 100;
    background: rgba(255,255,255,0);
    color: #000;
    .main_menu{
        background-color: #272727;
        color: #ffffff;
        margin-bottom: 30px;
        @include for-pad{
            margin-bottom: 24px;
        }
        @include for-mobile{
            margin-bottom: 34px;
        }
        @include for-phone{
            margin-bottom: 25px;
        }
        .content_block{
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 40px;
            @include for-mobile{
                padding-left: 45px;
            }
            @include for-phone{
                padding-left: 15px;
            }
        }
        .menu_burger{
            display: none;
            width: 20px;
            height: 20px;
            cursor: pointer;
            @include for-mobile{
                display: flex;
                align-items: center;
            }
            span{
                position: relative;
                display: block;
                width: 20px;
                height: 2px;
                background-color: #ffffff;
                &::after{
                    position: absolute;
                    top: -7px;
                    content: '';
                    display: block;
                    width: 20px;
                    height: 2px;
                    background-color: #ffffff;
                }
                &::before{
                    position: absolute;
                    top: 7px;
                    content: '';
                    display: block;
                    width: 20px;
                    height: 2px;
                    background-color: #ffffff;
                }
            }
            &._active{
                span{
                    background-color: #272727;
                    &::after{
                        top: 0;
                        transform: rotate(45deg);
                        transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
                    }
                    &::before{
                        top: 0;
                        transform: rotate(-45deg);
                        transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
                    }
                }
            }
        }
        .main_menu_items{
            display: flex;
            list-style: none;
            .main_menu_item{
                margin-right: 35px;
                @include for-pad{
                    margin-right: 16px;
                }
                @include for-mobile{
                    margin: 0 auto;
                    margin-bottom: 30px;
                    text-align: center;
                }
                &:first-child{
                    @include for-mobile{
                        margin-top: 20px;
                    }
                }
                a{
                    font-size: 14px;
                    color: #ffffff;
                    border-bottom: 1px solid #ffffff;
                    &:hover{
                        border-bottom: none;
                    }
                    &:visited{
                        color: inherit;
                    }
                    @include for-mobile{
                        font-size: 24px;
                        border-bottom: none;
                    }
                }
            }
            @include for-mobile{
                display: none;
                position: absolute;
                top: 35px;
                left: 0px;
                width: 100%;
                z-index: 999;
                flex-direction: column;
                background-color: #272727;
                border-radius: 0 3px 3px 0;
            }
        }
        .header_city{
            position: absolute;
            right: 20px;
            cursor: pointer;
            &:hover{
                & > .city{
                    border-bottom: none;
                }
            }
            @include for-mobile{
                right: 42px;
            }
            @include for-phone{
                right: 12px;
            }
        }
        .city{
            border-bottom: 1px dashed #ffffff;
            margin-left: 4px;
        }
        .header_menu{
            display: flex;
            @include for-notdesc{
                display: none;
            }
            .header_menu_item{
                line-height: 30px;
                font-size: 16px;
                color: $clrButton;
                font-weight: 600;
                margin: 0px 33px;
                padding: 0px 10px;
                &:hover{
                    color: $clrGreen;
                }
                &._active{
                    color: $clrButtonPressed;
                }
            }
        }
        .header_burger{
            display: none;
            position: absolute;
            width: 35px;
            height: 27px;
            right: 10px;
            top: 32px;
            cursor: pointer;
            overflow: hidden;
            @include for-notdesc{
                display: block;
            }
            @include for-mobile{
                width: 26px;
                height: 20px;
                top: 18px;
                right: 12px;
            }
            div{
                width: 35px;
                height: 5px;
                border-radius: 2px;
                background: $clrGreen;
                position: absolute;
                top: 0px;
                left: 0px;
                transition: transform 0.3s ease;
                @include for-mobile{
                    width: 25px;
                    height: 4px;
                }
            }
            div:nth-child(1){
                transform: translate(0px,0px);
                @include for-mobile{
                    transform: translate(0px,0px);
                }
            }
            div:nth-child(2){
                transform: translate(0px,11px);
                @include for-mobile{
                    transform: translate(0px,8px);
                }
            }
            div:nth-child(3){
                transform: translate(0px,22px);
                @include for-mobile{
                    transform: translate(0px,16px);
                }
            }
        }
    }
    .header_wrap{
        display: flex;
        justify-content: center;
        align-items: center;
        // padding: 0px;
        // height: 100%;
        .content_block{
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 40px;
            @include for-mobile{
                flex-direction: column;
            }
            .content_left_side{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 44%;
                @include for-desktop{
                    width: 51%;
                }
                @include for-pad{
                    width: 47%;
                }
                @include for-mobile{
                    width: 90%;
                    margin-bottom: 12px;
                    justify-content: flex-start;
                }
                @include for-phone{
                    flex-direction: column;
                    margin-bottom: 11px;
                }
            }
            .content_right_side{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                width: 50%;
                @include for-mobile{
                    width: 90%;
                    justify-content: flex-end;
                }
                @include for-phone{
                    flex-direction: column;
                }
                & > ._link,
                & > ._recall{
                    width: 223px;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    color: #ffffff;
                    border-radius: 3px;
                    cursor: pointer;
                    user-select: none;
                    -ms-user-select: none;
                    -moz-user-select: none;
                    -khtml-user-select: none;
                    -webkit-user-select: none;
                    @include for-desktop{
                        width: 190px;
                    }
                    @include for-pad{
                        width: 164px;
                        height: 30px;
                        line-height: 30px;
                        font-size: 14px;
                    }
                }
                & > ._link{
                    background-color: #DA0034;
                    &:hover{
                        background-color: #F41349;
                    }
                    &:focus,
                    &:active{
                        background-color: #C6002F;
                    }
                    @include for-phone{
                        margin-bottom: 10px;
                    }
                }
                & > ._recall{
                    margin-left: 20px;
                    background-color: #0C8CD4;
                    &:hover{
                        background-color: #24A3EB;
                    }
                    &:focus,
                    &:active{
                        background-color: #0179BD;
                    }
                    @include for-pad{
                        margin-left: 10px;
                    }
                    @include for-mobile{
                        width: 138px;
                        margin-left: 17px;
                    }
                    @include for-mobile{
                        width: 140px;
                        margin-left: 15px;
                    }
                    @include for-phone{
                        width: 164px;
                        margin-left: 0;
                    }
                }
            }
        }
        &.home{
            .header_logo{
                color: #ffffff;
                &::before{
                    background-image: url(/img/logo.svg);
                }
            }
            .header_phone{
                color: #ffffff;
                span{
                    border-bottom: 1px dashed #FFFFFF;
                }
                &:hover{
                    & > span{
                        border-bottom: none;
                    }
                }
                &::before{
                    background-image: url(/img/phone.svg);
                }
            }
        }
        .header_logo{
            position: relative;
            padding-left: 40px;
            font-size: 26px;
            font-weight: bold;
            text-transform: uppercase;
            color: #272727;
            @include for-pad{
                padding-left: 30px;
                font-size: 18px;
            }
            @include for-mobile{
                margin-right: 45px;
            }
            @include for-phone{
                margin-bottom: 17px;
                margin-right: 0;
            }
            &::before{
                position: absolute;
                left: 0;
                top: -5px;
                content: '';
                display: block;
                width: 30px;
                height: 40px;
                background-image: url(/img/logo-black.svg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                @include for-pad{
                    width: 21px;
                    height: 29px;
                }
            }
        }
        .header_phone{
            position: relative;
            display: block;
            padding-left: 35px;
            font-size: 26px;
            font-weight: bold;
            text-transform: uppercase;
            color: #272727;
            @include for-desktop{
                font-size: 22px;
            }
            @include for-pad{
                padding-left: 20px;
                font-size: 18px;
            }
            span{
                border-bottom: 1px dashed #272727;
            }
            &:hover{
                & > span{
                    border-bottom: none;
                }
            }
            &::before{
                position: absolute;
                left: 0;
                top: 0;
                content: '';
                display: block;
                width: 25px;
                height: 25px;
                background-image: url(/img/phone-black.svg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                @include for-desktop{
                    width: 22px;
                    height: 22px;
                }
                @include for-pad{
                    top: 2px;
                    width: 17px;
                    height: 17px;
                }
            }
        }
    }
    &._active{
        .header_burger{
            div:nth-child(1){
                transform: translate(0px,11px) rotate(45deg);
            }
            div:nth-child(2){
                transform: translate(0px,11px) rotate(-45deg);
            }
            div:nth-child(3){
                transform: translate(0px,50px);
            }
        }
    }
}
.city_list_wrap{
    z-index: 9999;
    position: fixed;
    top: 40px;
    right: 0;
    display: none;
    width: 600px;
    height: 500px;
    background: #fff;
    color: #272727;
    cursor: auto;
    // overflow-y: scroll;
    box-shadow: 0 0 10px 1px #000;
    &.__visible{
        display: block;
    }
    .mCSB_scrollTools .mCSB_draggerRail{
        display: none;
    }
    .mCSB_scrollTools .mCSB_draggerContainer{
        margin: 20px 0;
    }
    @include for-desktop{
        width: 500px;
    }
    @include for-mobile{
        right: 50%;
        transform: translateX(50%);
    }
    @include for-phone{
        width: 300px;
        height: 440px;
    }
}
.city_list_close{
    position: absolute;
    transform: rotate(45deg);
    top: 16px;
    right: 10px;
    width: 28px;
    height: 28px;
    &:before{
        content: '';
        background: #000;
        position: absolute;
        border-radius: 2px;
        width: 100%;
        height: 2px;
        top: 13px;
        left: 0;
    }
    &:after{
        content: '';
        background: #000;
        position: absolute;
        border-radius: 2px;
        width: 2px;
        height: 100%;
        top: 0;
        left: 13px;
    }
}
.city_list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    .city_btn{
        width: 283px;
        height: 40px;
        margin: 0 auto;
        margin-bottom: 40px;
        background-color: #DA0034;
        color: #ffffff;
        border-radius: 2px;
        @include for-phone{
            width: 180px;
        }
    }
}
.city_list_item{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.city_list_title{
    width: 200px;
    margin: 40px auto 30px auto;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    @include for-desktop{
        margin: 30px auto 20px auto;
    }
}
.city_in_char {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 100px;
    @include for-desktop{
        padding: 0 80px;
    }
    @include for-phone{
        padding: 0 30px;
    }
    .city_block{
        display: flex;
        align-items: center;
        width: 45%;
        margin-bottom: 15px;
        font-size: 16px;
        color: #272727;
        @include for-phone{
            width: 100%;
        }
        input[type="radio"] {
            position: relative;
            width: 15px;
            height: 15px;
            margin-right: 10px;
            cursor: pointer;
        }
        input[type='radio']::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            transform: translate(-50%, -50%);
            border: 2px solid #DADADA;
        }
        input[type='radio']:checked::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background-color: #DA0034;
            transform: translate(-50%, -50%);
            visibility: visible;
        }
        label{
            cursor: pointer;
        }
    }
}
.main_wrap{
    .main_menu{
        .city_list_wrap{
            .mCSB_dragger_bar{
                background-color: #DA0034 !important;
            }
        }
    }
}