header{
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    height: 99px;
    z-index: 100;
    background: rgba(255,255,255,0);
    color: #000;
    .main_menu{
        background-color: #272727;
        color: #ffffff;
        .content_block{
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 40px;
        }
        .main_menu_items{
            display: flex;
            list-style: none;
            .main_menu_item{
                margin-right: 32px;
                a{
                    font-size: 14px;
                    color: #ffffff;
                    border-bottom: 1px solid #ffffff;
                    &:hover{
                        border-bottom: none;
                    }
                    &:visited{
                        color: inherit;
                    }
                }
            }
        }
        .header_city{
            position: absolute;
            right: 20px;
            cursor: pointer;
            &:hover{
                & > .city{
                    border-bottom: none;
                }
            }
            @include for-desktop{
            }
            @include for-mobile{
            }
            @include for-phone{
            }
        }
        .city{
            border-bottom: 1px dashed #ffffff;
            margin-left: 4px;
        }
        .header_menu{
            display: flex;
            @include for-notdesc{
                display: none;
            }
            .header_menu_item{
                line-height: 30px;
                font-size: 16px;
                color: $clrButton;
                font-weight: 600;
                margin: 0px 33px;
                padding: 0px 10px;
                &:hover{
                    color: $clrGreen;
                }
                &._active{
                    color: $clrButtonPressed;
                }
            }
        }
        .header_burger{
            display: none;
            position: absolute;
            width: 35px;
            height: 27px;
            right: 10px;
            top: 32px;
            cursor: pointer;
            overflow: hidden;
            @include for-notdesc{
                display: block;
            }
            @include for-mobile{
                width: 26px;
                height: 20px;
                top: 18px;
                right: 12px;
            }
            div{
                width: 35px;
                height: 5px;
                border-radius: 2px;
                background: $clrGreen;
                position: absolute;
                top: 0px;
                left: 0px;
                transition: transform 0.3s ease;
                @include for-mobile{
                    width: 25px;
                    height: 4px;
                }
            }
            div:nth-child(1){
                transform: translate(0px,0px);
                @include for-mobile{
                    transform: translate(0px,0px);
                }
            }
            div:nth-child(2){
                transform: translate(0px,11px);
                @include for-mobile{
                    transform: translate(0px,8px);
                }
            }
            div:nth-child(3){
                transform: translate(0px,22px);
                @include for-mobile{
                    transform: translate(0px,16px);
                }
            }
        }
    }
    .header_wrap{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
        height: 100%;
        .content_block{
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 40px;
            .content_left_side{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 44%;
            }
            .content_right_side{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                width: 50%;
                & > ._link,
                & > ._recall{
                    width: 223px;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    color: #ffffff;
                    border-radius: 3px;
                    cursor: pointer;
                    user-select: none;
                    -ms-user-select: none;
                    -moz-user-select: none;
                    -khtml-user-select: none;
                    -webkit-user-select: none;
                }
                & > ._link{
                    background-color: #DA0034;
                    &:hover{
                        background-color: #F41349;
                    }
                    &:focus,
                    &:active{
                        background-color: #C6002F;
                    }
                }
                & > ._recall{
                    margin-left: 20px;
                    background-color: #0C8CD4;
                    &:hover{
                        background-color: #24A3EB;
                    }
                    &:focus,
                    &:active{
                        background-color: #0179BD;
                    }
                }
            }
        }
        &.home{
            .header_logo{
                color: #ffffff;
                &::before{
                    background-image: url(/img/logo.svg);
                }
            }
            .header_phone{
                color: #ffffff;
                span{
                    border-bottom: 1px dashed #FFFFFF;
                }
                &:hover{
                    & > span{
                        border-bottom: none;
                    }
                }
                &::before{
                    background-image: url(/img/phone.svg);
                }
            }
        }
        .header_logo{
            position: relative;
            padding-left: 40px;
            font-size: 26px;
            font-weight: bold;
            text-transform: uppercase;
            color: #272727;
            &::before{
                position: absolute;
                left: 0;
                top: -5px;
                content: '';
                display: block;
                width: 30px;
                height: 40px;
                background-image: url(/img/logo-black.svg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }
        }
        .header_phone{
            position: relative;
            display: block;
            padding-left: 35px;
            font-size: 26px;
            font-weight: bold;
            text-transform: uppercase;
            color: #272727;
            span{
                border-bottom: 1px dashed #272727;
            }
            &:hover{
                & > span{
                    border-bottom: none;
                }
            }
            &::before{
                position: absolute;
                left: 0;
                top: 0;
                content: '';
                display: block;
                width: 30px;
                height: 30px;
                background-image: url(/img/phone-black.svg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }
        }
    }
    &._active{
        .header_burger{
            div:nth-child(1){
                transform: translate(0px,11px) rotate(45deg);
            }
            div:nth-child(2){
                transform: translate(0px,11px) rotate(-45deg);
            }
            div:nth-child(3){
                transform: translate(0px,50px);
            }
        }
    }
}
.city_list_wrap{
    z-index: 1;
    position: absolute;
    top: 40px;
    right: 15px;
    display: none;
    width: 600px;
    height: 500px;
    background: #fff;
    color: #272727;
    cursor: auto;
    overflow-y: scroll;
    box-shadow: 0 0 3px 1px #DEDEDE;
    &.__visible{
        display: block;
    }
}
.city_list_close{
    position: absolute;
    transform: rotate(45deg);
    top: 16px;
    right: 10px;
    width: 28px;
    height: 28px;
    &:before{
        content: '';
        background: #000;
        position: absolute;
        border-radius: 2px;
        width: 100%;
        height: 2px;
        top: 13px;
        left: 0;
    }
    &:after{
        content: '';
        background: #000;
        position: absolute;
        border-radius: 2px;
        width: 2px;
        height: 100%;
        top: 0;
        left: 13px;
    }
}
.city_list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    .city_btn{
        width: 283px;
        height: 40px;
        margin: 0 auto;
        margin-bottom: 40px;
        background-color: #DA0034;
        color: #ffffff;
        border-radius: 2px;
    }
}
.city_list_item{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.city_list_title{
    width: 200px;
    margin: 40px auto 30px auto;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
}
.city_in_char {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 100px;
    .city_block{
        display: flex;
        align-items: center;
        width: 45%;
        margin-bottom: 15px;
        font-size: 16px;
        color: #272727;
        input[type="radio"] {
            position: relative;
            width: 15px;
            height: 15px;
            margin-right: 10px;
            cursor: pointer;
        }
        input[type='radio']::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            transform: translate(-50%, -50%);
            border: 2px solid #DADADA;
        }
        input[type='radio']:checked::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background-color: #DA0034;
            transform: translate(-50%, -50%);
            visibility: visible;
        }
        label{
            cursor: pointer;
        }
    }
}