.main_top{
    position: absolute;
    top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 120px auto;
    @include for-notdesc{
        flex-direction: column;
        padding: 0px 15px;
    }

    @include for-desktop{
        margin: 42px auto 35px;
    }

    @include for-pad{
        margin: 42px auto 35px;
    }

    @include for-mobile{
        margin: 0 auto 20px;
    }

    h1{
    	/*width: calc(50% - 35px);
    	text-align: right;*/
        color: #fff;
        text-align: center;
    	margin: 0px auto;
    	font-size: 50px;
        line-height: 60px;
        letter-spacing: 0.01em;
        max-width: 1000px;

        @include for-notdesc{
            text-align: center;
            margin-right: 0px;
            width: 100%;
        }

        @include for-mobile{
            font-size: 40px;
            line-height: 44px;
        }

        @include for-phone{
            font-size: 32px;
            line-height: 34px;
        }
    }

    .main_top_desc{
        margin-bottom: 30px;
        font-size: 42px;
        font-weight: bold;
        color: #fff;
        text-align: center;

        @include for-notdesc{
            text-align: center;
            width: 100%;
        }

        @include for-mobile{
            margin-top: 10px;
        }

        @include for-phone{
            display: none;
        }

	    p{
		    font-weight: 500;
			font-size: 24px;
		    line-height: 39px;

            @include for-mobile{
                font-size: 20px;
                line-height: 29px;
            }
		}
	}
}
.main_search{
    display: flex;
    text-align: center;
    @include for-phone{
        display: block;
    }
    .main_search_city{
        display: none;
        // width: 245px;
        // background: #FFFFFF;
        // border: 1px solid #DEDEDE;
        // box-sizing: border-box;
        // text-align: left;
    }
    .main_search_city_input{
        width: 100%;
        border-radius: 2px;
        font-size: 15px;
        line-height: 24px;
        padding: 14px 12px;
        cursor: pointer;
        @include placeholder {
          color: #848484;
        }
    }
    .main_search_type_room{
        position: relative;
        width: 250px;
        margin-right: 20px;
        padding: 17px 20px;
        background: rgba(39, 39, 39, 0.6);;
        border: 1px solid #ffffff;
        border-radius: 2px;
        font-size: 18px;
        line-height: 24px;
        color: #ffffff;
        text-align: left;
        cursor: pointer;
        @include for-phone{
            width: 100%;
            margin: 12px auto;
        }
        .type_room_choose{
            font-size: 18px;
            line-height: 24px;
            color: #ffffff !important;
        }
        .choose{
            position: absolute;
            right: 10px;
            top: 25px;
            border: 8px solid transparent;
            border-top: 8px solid #ffffff;
            &._expand{
                top: 18px;
                transform: rotate(180deg);
            }
        }
    }
    .main_search_submit{
        width: 250px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        background-color: #DA0034;
        color: #FFFFFF;
        border-radius: 3px;
        cursor: pointer;
        user-select: none;
        -ms-user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        &:hover{
            background-color: #F41349;
        }
        &:focus,
        &:active{
            background-color: #C6002F;
        }
        @include for-phone{
            width: 100%;
            margin: 0 auto;
        }
    }
    .main_search_city_list{
        padding: 4px 4px 12px 12px;
        position: absolute;
        background-color: #fff;
        z-index: 1;
        overflow-y: auto;
        width: 244px;
        top: 56px;
        border: 1px solid #dedede;
        left: -1px;
        height: 160px;
        display: none;

        @include for-mobile{
            width: 100%;
        }

        p{
            font-size: 15px;
            line-height: 24px;
            margin: 4px 0;
            color: #848484;
            cursor: pointer;
            span{
                color: #000;
                font-weight: 600;
            }

            &:hover{
                span{
                    color: $clrBlue;
                }
                color: $clrBlue;
            }
        }
        @include for-phone{
            top: 78px;
        }

    }
    .main_search_type_room_list{
        display: none;
        position: absolute;
        top: 58px;
        left: -1px;

        width: 250px;
        height: 100px;
        padding: 3px 5px 3px 20px;

        z-index: 1;
        overflow-y: auto;
        background: rgba(39, 39, 39, 0.6);;
        border: 1px solid #ffffff;
        border-radius: 2px;
        @include for-mobile{
            width: 100%;
        }

        p{
            font-size: 18px;
            line-height: 24px;
            color: #ffffff;
            margin: 4px 0;
            cursor: pointer;
        }
    }
}

.mCS-dark-thick.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
    background-color: #ffffff !important;
}
.main_rectangle_wrap{
    display: flex; 
    //position: absolute;
    //top: 255px;
    //position: relative;
    top: auto;
    width: 100%;
    justify-content: center;
    //bottom: -60px;
    bottom: -36px; 
    position: absolute;
    left: 0;
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    &:not(.content_info_adv){
        @include for-mobile{
            //top: 325px;
        }
    }

    &:not(.content_info_adv){
        @include for-phone{
            //top: 356px;
            overflow: hidden;
            width: 320px;
            height: 190px;
            bottom: -35px; 
            &.__short_3{
                bottom: -113px;
            }
        }
    }

    @include for-mobile{
        &._short{
            display: none;
        }
    }
}
.main_rectangle{
    width: 150.26px;
    height: 150.26px;
    position: relative;
    margin: 0 35px;

    @include for-desktop{
        margin: 0 20px;
    }
    @include for-pad{
        margin: 0 20px;
    }
    @include for-mobile{
        width: 126.54px;
        height: 126.54px;
        margin: 0 10px;
    }
    @include for-phone{
        width: 105px;
        height: 105px;
        margin: 0 10px;

        &:nth-child(1){
            position: absolute;
            top: -10px;
            left: 0;
        }
        &:nth-child(2){
            position: absolute;
            top: -10px;
            left: 111px;
        }
        &:nth-child(3){
            position: absolute;
            top: -10px;
            left: 221px;
        }
        &:nth-child(4){
            position: absolute;
            top: 67px;
            left: 54px;
        }
        &:nth-child(5){
            position: absolute;
            top: 67px;
            left: 160px;
        }
    }

    .main_rectangle_1{
        position: absolute;
        left: 0.57%;
        right: 27.06%;
        top: 36.76%;
        bottom: -9.12%;
        background: #FFAD0F;
        border-radius: 40px;
        transform: rotate(-30deg);
        @include for-mobile{
            border-radius: 33.6842px;
        }
        @include for-phone{
            border-radius: 27.3684px;
        }
    }
    .main_rectangle_2{
        position: absolute;
        visibility: hidden;
        left: 15.8%;
        right: 27.95%;
        top: 70.31%;
        bottom: -26.57%;
        left: 8.8%;
        right: 34.95%;
        top: 44.31%;
        bottom: -1px;
        background: #FF6B00;
        mix-blend-mode: normal;
        opacity: 0.2;
        border-radius: 30px;
        transform: rotate(-75.7deg);

        @include for-mobile{
            border-radius: 25.2632px;
        }
        @include for-phone{
            border-radius: 20.5263px;
        }
    }
    .main_rectangle_count{
        font-family: Playfair Display;
        font-style: italic;
        font-weight: 400;
        font-size: 72px;
        line-height: 96px;
        align-items: center;
        text-align: center;
        letter-spacing: -.02em;
        color: #fff;
        display: inline-block;
        position: relative;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 40px -21px -6px;
        width: 100%;
        @include for-mobile{
            font-size: 60px;
            line-height: 80px;
            margin: 30px -16px -6px;
        }
        @include for-phone{
            font-size: 48px;
            line-height: 64px;
            margin: 25px -15px -6px;
        }
    }
    .main_rectangle_type{
        font-size: 15px;
        line-height: 24px;
        align-items: center;
        text-align: center;
        color: #1a2824;
        display: inline-block;
        position: relative;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: -25px -21px;
        width: 100%;
        @include for-mobile{
            font-size: 14px;
            line-height: 20px;
            margin: -25px -16px;
        }
        @include for-phone{
            font-size: 11px;
            line-height: 20px;
            margin: -25px -15px;
        }
    }
    .main_rectangle_icon{
        display: inline-block;
        position: relative;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 65px 0px 0px 16px;
       @include for-mobile{
            margin: 52px 0 0 7px;
        } 
    }
}

.main_top_slider{
    position: relative;
    top: 0;
    width: 100%;
    height: 485px;
    margin-bottom: 60px;
    overflow: hidden;
    background-color: #272727;
    @include for-mobile{
        height: 350px;
        &._short{
            height: 400px; 
        }
        &.__shotr_3{
            height: 450px;
        }
    }
    @include for-phone{
        height: 560px;  
        &._short{
            height: 430px; 
        }
        &.__short_3{
            height: 450px;
        }
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
// .listing_wrap{
//     background: #F8F8F8;
//     padding: 80px 0 60px;
//     @include for-phone{
//       padding: 60px 0; 
//     }
// }