.form_wrapper{
	width: 100%;
	background: url(/img/Gift_box.png) no-repeat left top, url(/img/Gift_ribbon.png) no-repeat right center, white;
	border-radius: 5px;
	//box-shadow: 0px 5px 20px rgba(47, 61, 2, 0.1);
	padding: 0;
	position: relative;

	@include for-desktop{
		padding: 25px 20px 30px;
		background: url(/img/Gift_box.png) no-repeat left,#fff;
	    background-position: bottom -74px right -37px;
	    background-size: 17%;
	}

	@include for-pad{
		padding: 25px 20px 30px;
		background: url(/img/Gift_box.png) no-repeat left,#fff;
	    background-position: bottom -74px right -37px;
	    background-size: 17%;
	}

	@include for-mobile{
		padding: 25px 20px 30px;
		background: url(/img/Gift_box.png) no-repeat left,#fff;
	    background-position: bottom -74px right -37px;
	    background-size: 24%;
	}
	@include for-phone{
	    background-size: 59%;
	    padding: 25px 15px 30px;
	}
}
.form_main{
	display: flex;
	//background: url(/img/Gift_ribbon.png) no-repeat right;
	@include for-desktop{
		flex-direction: column;
	}
	@include for-pad{
		flex-direction: column;
	}

	@include for-mobile{
		flex-direction: column;
	}
}

.form_close{
	display: none;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 14px;
	right: 14px;
	transform: rotate(45deg);
	cursor: pointer;

	&:before,
	&:after{
		content: '';
		background: #F5D58F;
		position: absolute;
		border-radius: 2px;
	}

	&:before{
		width: 100%;
		height: 2px;
		top: 10px;
		left: 0px;
	}

	&:after{
		width: 2px;
		height: 100%;
		top: 0px;
		left: 10px;
	}

	&:hover{

		&:before,
		&:after{
			background: #FFB30F;
		}
	}
}

.form_title{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 370px;
    width: 335px;

    @include for-desktop{
    	margin: 0;
    	width: 100%;
    }

    @include for-pad{
		margin: 0;
    	width: 100%;
	}

	@include for-mobile{
		margin: 0;
    	width: 100%;
	}

	.form_title_main, 
	.form_title_popup{
		margin-right: 40px;
	}

	.form_title_popup{
		display: none;
	}

	.form_title_desc{
		font-weight: bold;
		font-size: 16px;
		color: #FFB30F;

		@include for-mobile{
			display: none;
		}

		@include for-pad{
			display: none;
		}

		@include for-mobile{
			display: none;
		}
	}
}

.form_title_main, 
.form_title_popup{
	font-weight: 600;
	font-size: 32px;
	line-height: 40px;

	@include for-mobile{
		margin-right: 0px;
		font-size: 28px;
		line-height: 32px;
		text-align: center;
	}

	@include for-pad{
		margin-right: 0px;
		font-size: 28px;
		line-height: 32px;
		text-align: center;
	}

	@include for-mobile{
		margin-right: 0px;
		font-size: 28px;
		line-height: 32px;
		text-align: center;
	}

	@include for-phone{
	    text-align: left;
		font-size: 24px;
	}

}

.form_block{
	display: flex;
	margin-top: 30px;
    width: 745px;
    flex-direction: column;

    @include for-desktop{
    	flex-direction: column;
	    align-items: center;
	    width: 100%;
    }

	@include for-pad{
		flex-direction: column;
	    align-items: center;
	    width: 100%;
	}

	@include for-mobile{
		flex-direction: column;
	    align-items: center;
	    width: 100%;
	}

	@include for-mobile{
		margin-top: 15px;
	}

	.form_inputs{
		display: flex;
		flex-wrap: wrap;
		/*width: 780px;*/
		justify-content: space-between;
   		width: 100%;

		.input_wrapper{
			/*width: 130px;
			margin-right: 20px;*/
			width: 23%;
			height: 60px;

			@include for-phone{
				//width: 100% !important;
				width: 100%;
			}

			&._big{
				width: 220px;

				@include for-desktop{
					width: 196px;
				}

				@include for-pad{
					width: 196px;
				}
				@include for-mobile{
					width: 196px;
				}
			}

			&._big_width{
				width: 100%;
			}

			.input_label{
				font-weight: 500;
				font-size: 16px;
				line-height: 26px;
			}
			.input_error{
				font-size: 11px;
				line-height: 20px;
				color: #DF0C0C;
				//display: none;
			}

			input{
				/*border: 1px solid #C4C4C4;*/
				border-bottom: 1px solid #C4C4C4;
				box-sizing: border-box;
				border-radius: 2px;
				width: 100%;
				height: 40px;
				/*padding: 9px 16px 6px;*/
				padding: 9px 16px 6px 0;
				font-size: 15px;
				line-height: 24px;
				@include form_placeholder {
	              color: #000000;

	            }
	            &[name="date"] {
	            	background: url(/img/calendar_icon.svg) no-repeat right, #fff;
	            	//pointer-events: none;
	            	cursor: pointer;	
	            	@include for-phone{
						width: 55%;
					}
	            }
	            &.check_approove:not(.not_check_approove){
	            	background: url(/img/check_approove.svg) no-repeat right, #fff;
	            }
	            &._invalid{
	            	border-bottom: 1px solid #DF0C0C;
	            }
			}

			.input_desc{
				font-weight: 500;
				font-size: 12px;
				line-height: 20px;
				color: #666666;
			}
		}

		.form_checkboxes{
			width: 100%;
			display: flex;
			align-items: center;
			margin-top: 20px;

			@include for-desktop{
				justify-content: center;
			}

			@include for-pad{
				justify-content: center;
			}

			@include for-mobile{
				justify-content: center;
			}

			.checkbox_title{
				font-weight: bold;
				font-size: 16px;
				line-height: 26px;
				margin-right: 15px;

				@include for-desktop{
					margin: 0px 5px 0px 10px;
				}

				@include for-pad{
					margin: 0px 5px 0px 10px;
				}

				@include for-mobile{
					margin: 0px 5px 0px 10px;
				}
			}

			.checkbox_wrapper{
				display: flex;

				@include for-mobile{
				    flex-direction: column;
					width: 100%;
				}
			}
		}

		@include for-desktop{
			width: initial;
		    justify-content: space-between;

			.input_wrapper{
				margin: 0px 7px;
			}
		}

		@include for-pad{
			width: initial;
			justify-content: space-between;

			.input_wrapper{
				margin: 0px 7px;
			}
		}

		@include for-mobile{
			width: initial;
			justify-content: space-between;

			.input_wrapper{
				margin: 0px 7px;
			}
		}

		@include for-phone{
			.input_wrapper{
				margin: 0;
			}
		}
	}

	.form_submit{
		/*width: calc(100% - 780px);*/
	    width: 100%;
	    display: flex;
	    align-items: center;
	    margin: 12px 0 40px;

	    @include for-desktop{
	    	width: 100%;
		    display: flex;
		    flex-direction: row;
		    justify-content: center;
		    align-items: center;
	    }

		@include for-pad{
		    width: 100%;
		    display: flex;
		    flex-direction: row;
		    justify-content: center;
		    align-items: center;
		}

		@include for-mobile{
			width: 100%;
		    display: flex;
		    flex-direction: row;
		    justify-content: left;
		    align-items: center;
		}

		@include for-phone{
			flex-direction: column;
    		align-items: initial;
		}

		button{
			/*height: 50px;
			margin-top: 21px;*/
		    border-radius: 4px;
			margin: 0 15px 0 0;
			font-size: 14px;
			line-height: 20px;
			width: 193px;
			height: 40px;
			padding: 0px 28px;

			@include for-desktop{
				width: 180px;
			}

			@include for-pad{
				width: 180px;
			}

			@include for-mobile{
				width: 180px;
			}
		}

		.form_policy{
			margin-top: 10px;
			@include for-phone{
				width: 56%;
			}
			p{
				font-weight: 500;
				font-size: 12px;
				line-height: 15px;

				&:before{
					top: 0px;
				}

				&:after{
					top: 3px;
				}
			}

			a{
				//text-decoration: underline;
				//color: #5BA641;
				border-bottom: 1px dashed #3067F3;
			}
		}
	}
}
.input_wrapper.date_wrapper{
	position: relative;
}
.input_wrapper_date_wrapper{
	position: absolute;
    width: 375px;
    //height: 305px;
    font-size: 15px;
    line-height: 24px;
    color: #1A2824;
    background-color: #fff;
    border: 1px solid #DEDEDE;
    z-index: 20;
    padding: 23px 32px;
    display: flex;
    flex-direction: column;
    top: 45px;
    right: 0;

    @include for-phone{
    	width: 100%;
    	padding: 23px 12px;
    }

    .date_wrapper_title,
    .date_wrapper_arrows {
    	display: flex;
    	justify-content: space-between;
    }
    .date_wrapper_arrow{
    	background: url(/img/date_arrow.svg) no-repeat;
	    width: 20px;
	    height: 15px;
	    cursor: pointer;
	    &._next{
    	    height: 16px;
		    transform: rotate(-180deg);
		    margin-left: 10px;
	    }
    }
    .date_wrapper_weeks{
    	display: flex;
    	flex-direction: column;
    }
    .date_wrapper_week {
	    display: flex;
	    justify-content: space-between;
	    margin-top: 8px;

	    p{
	    	width: 32px;
		    height: 32px;
		    text-align: center;
		    cursor: pointer;
		    line-height: 32px;
		    &.not_this_month{
		    	color: #C4C4C4;
		    }
		    &:hover{
		    	background-color: #FFF4D7;
    			border-radius: 50%;
		    }
		    &._now{
		    	background-color: #FFC839;
    			border-radius: 50%;
		    }

	    }
    	&.week_title{
    		p{
    			background-color: #fff;
    			cursor: auto;
    		}
    	}
	}
}
.form_success {
	display: none;
	text-align: center;
	.form_title_main{
		margin-bottom: 16px;
	}
	.form_close_bottom{
		margin: 4px auto;
		width: fit-content;
		cursor: pointer;
    	border-bottom: 1px dashed $clrBlue;
    	color: $clrBlue;
	}
}
.object_form{
	//width: 560px;
    //height: 373px;
    .form_wrapper{
    	border-radius: 4px;
	    //padding: 24px 48px 33px 40px;
	    background: url(/img/Gift_box.png) no-repeat left, url(/img/Gift_ribbon_popup.png) no-repeat right, $clrBackground;
	    background-position: bottom -74px right -37px, bottom 0px left 0px;
	    background-size: 36% , 25%;
	    height: 414px;
	    @include for-desktop{
	    	background-size: 25% , 20%;
	    }
	    @include for-pad{
	    	padding: 0 16px;
	    	background-size: 20% , 0;
	    	height: auto;
	    }
	    @include for-mobile{
	    	padding: 0 16px;
	    	background-size: 20% , 0;
	    	height: auto;
	    }
	    @include for-phone{
    	    padding: 0px 12px 30px;
		    height: auto;
		    background-size: 50%,0%;
	    }
    }
    .form_main{
    	flex-direction: column;
    	padding:0 100px 0 40px;
    	@include for-desktop{
    		padding: 0px 20px;
    	}
    	@include for-pad{
	    	padding: 0;
	    }
	    @include for-mobile{
	    	padding: 0;
	    }
    }
    .form_title{
    	width: 100%;
    	margin: 0;
    	justify-content: left;
    	@include for-notdesc{
	    	display: none;
	    }
    }
    .form_title_main{
    	font-size: 24px;
		line-height: 32px;
    }
    .form_block{
    	width: 100%;
    }
    .form_inputs{
    	justify-content: left;
    	@include for-pad{
    		justify-content: space-between;
    	}
    	@include for-mobile{
    		justify-content: space-between;
    	}
    	.input_wrapper{
	    	width: 47%;

	    	@include for-desktop{
	    		width: 43%;
	    		margin-left: 0;
	    	}
	    	@include for-pad{
	    		width: 25%;
	    		margin: 0;
	    	}
	    	@include for-mobile{
	    		width: 23%;
	    		margin: 0;
	    	}
	    	@include for-phone{
	    		width: 100%;
    			margin: 0;
	    	}
	    	input[name=date] {
    			background: url(/img/calendar_icon.svg) no-repeat right, $clrBackground;
				@include for-phone{
					width: 50%;
				}
    		}
	    	&:nth-child(1),
	    	&:nth-child(3){
	    		margin-right: 25px;
    			@include for-pad{
		    		margin: 0;
		    	}
		    	@include for-mobile{
		    		margin: 0;
		    	}
	    	}
	    	&:nth-child(4){
	    		width: 30%;
	    		@include for-desktop{
		    		width: 37%;
		    	}
		    	@include for-pad{
		    		width: 18%;
		    	}
		    	@include for-mobile{
		    		width: 25%;
		    	}
		    	@include for-phone{
		    		width: 100%;
	    			margin: 0;
		    	}
	    	}
	    }
    }
    
    .form_submit{
    	@include for-pad{
    		justify-content: left;
    	}
    	button{
    		width: 72%;
    		@include for-pad{
	    		width: 25%;
	    	}
	    	@include for-mobile{
	    		width: 25%;
	    	}
	    	@include for-phone{
	    		width: 72%;
	    	}
    	}
    	.form_policy{
    		margin-top: 0;
    		margin-right: 0;
    		@include for-phone{
    			margin-top: 12px;
    		}
    	}
    }
}