.form_wrapper,
.form_wrapper_recall{
	width: 100%;
	margin-bottom: 50px;
	.content_block{
		position: relative;
		padding: 0 15px;
		@include for-mobile{
			padding: 0 45px;
		}
		@include for-phone{
			padding: 0 15px;
		}
	}
}
.form_wrapper_recall{
	.content_block{
		width: 100%;
		max-width: 900px;
		@include for-pad{
			max-width: 700px;
		}
	}
}
.form_main,
.form_main_recall{
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	padding-top: 63px;
	background-color: #EAF7FB;
	border-radius: 3px;
	@include for-desktop{
		width: 930px;
		flex-direction: column;
	}
	@include for-pad{
		width: 100%;
		max-width: 690px;
		flex-direction: column;
		padding-top: 42px;
	}
	@include for-mobile{
		flex-direction: column;
	}
	@include for-phone{
		padding-top: 34px;
	}
}
.form_main_recall{
	@include for-desktop{
		width: 100%;
	}
}
.form_close{
	display: none;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 14px;
	right: 14px;
	transform: rotate(45deg);
	cursor: pointer;

	&:before,
	&:after{
		content: '';
		background: #F5D58F;
		position: absolute;
		border-radius: 2px;
	}

	&:before{
		width: 100%;
		height: 2px;
		top: 10px;
		left: 0px;
	}

	&:after{
		width: 2px;
		height: 100%;
		top: 0px;
		left: 10px;
	}

	&:hover{

		&:before,
		&:after{
			background: #FFB30F;
		}
	}
}

.form_title{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-bottom: 19px;
	padding: 0 10px;
    @include for-desktop{
    	margin-bottom: 18px;
    }
    @include for-pad{
		margin-bottom: 7px;
	}
	@include for-mobile{
		margin-bottom: 15px;
	}
	@include for-phone{
		margin-bottom: 12px;
	}

	.form_title_main{
		&:first-child{
			margin-bottom: 7px;
			font-size: 24px;
			font-weight: 700;
			color: #272727;
			@include for-desktop{
				margin-bottom: 8px;
			}
		}
		&:last-child{
			font-size: 16px;
			font-weight: 400;
			color: #272727;
		}
	}
	.form_title_popup{
		display: none;
	}

	.form_title_desc{
		font-weight: bold;
		font-size: 16px;
		color: #FFB30F;

		@include for-mobile{
			// display: none;
		}

		@include for-pad{
			// display: none;
		}

		@include for-mobile{
			// display: none;
		}
	}
}

.form_title_main, 
.form_title_popup{
	@include for-mobile{
		// margin-right: 0px;
		// font-size: 28px;
		// line-height: 32px;
		// text-align: center;
	}

	@include for-pad{
		// margin-right: 0px;
		// font-size: 28px;
		// line-height: 32px;
		// text-align: center;
	}

	@include for-mobile{
		// margin-right: 0px;
		// font-size: 28px;
		// line-height: 32px;
		// text-align: center;
	}

	@include for-phone{
	    // text-align: left;
		// font-size: 24px;
	}

}

.form_block{
	display: flex;
    flex-direction: column;
	width: 100%;
	max-width: 953px;
    margin: 0 auto;
	.form_inputs{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
   		width: 100%;
		@include for-desktop{
			justify-content: space-around;
			padding: 0 20px;
		}
		@include for-pad{
			padding: 0 45px;
		}
		@include for-phone{
			padding: 0;
		}
		.input_wrapper{
			width: 23%;
			height: 57px;
			@include for-pad{
				width: 45%;
				height: 55px;
			}
			@include for-mobile{
				width: 270px;
			}
			@include for-phone{
				width: 94%;
			}
			&._big{
				width: 220px;

				@include for-desktop{
					// width: 196px;
				}

				@include for-pad{
					// width: 196px;
				}
				@include for-mobile{
					// width: 196px;
				}
			}

			&._big_width{
				width: 100%;
				@include for-desktop{
					width: 98%;
				}
				@include for-pad{
					width: 95%; 
				}
				@include for-mobile{
					width: 270px;
					height: 80px;
				}
				@include for-phone{
					width: 94%;
				}
					textarea{
						width: 100%;
						padding: 8px 15px 20px;
						font: inherit;
						background-color: rgb(255, 255, 255);
						color: rgb(39, 39, 39);
						resize: none;
						border: 1px solid #D0E1E7;
						@include form_placeholder {
							font-size: 16px;
							color: #272727;
						}
						@include for-mobile{
							padding-bottom: 33px;
						}
						&.check_approove:not(.not_check_approove){
							background: url(/img/check_approove.svg) no-repeat right, #fff;
						}
					}
				}
			.input_label{
				font-weight: 500;
				font-size: 16px;
				line-height: 26px;
			}
			.input_error{
				font-size: 11px;
				line-height: 20px;
				color: #DF0C0C;
				//display: none;
			}

			input{
				border: 1px solid #D0E1E7;
				box-sizing: border-box;
				width: 100%;
				height: 40px;
				padding: 10px 10px 9px 15px;
				font-size: 16px;
				background-color: #ffffff;
				&[name="phone"] {
					@include form_placeholder {
						color: #939393;
					}
				}
				@include form_placeholder {
	              color: #272727;
	            }
	            &[name="date"] {
	            	background: url(/img/calendar.svg) no-repeat 95%, #fff;
	            	//pointer-events: none;
	            	cursor: pointer;	
	            	@include for-phone{
						// width: 55%;
					}
	            }
	            &.check_approove:not(.not_check_approove){
	            	background: url(/img/check_approove.svg) no-repeat right, #fff;
	            }
	            &._invalid{
	            	border-bottom: 1px solid #DF0C0C;
	            }
			}

			.input_desc{
				font-weight: 500;
				font-size: 12px;
				line-height: 20px;
				color: #666666;
			}
		}
		.form_checkboxes{
			width: 100%;
			display: flex;
			align-items: center;
			margin-top: 20px;
			.checkbox_title{
				font-weight: bold;
				font-size: 16px;
				line-height: 26px;
				margin-right: 15px;
			}
			.checkbox_wrapper{
				display: flex;
			}
		}
	}
	.form_submit{
	    display: flex;
	    align-items: center;
		margin: 29px auto 60px auto;
		@include for-pad{
			margin-top: 25px;
			margin-bottom: 40px;
		}
		@include for-mobile{
			flex-direction: column-reverse;
			margin-top: 17px;
		}
		@include for-phone{
			margin-top: 16px;
			margin-bottom: 30px;
		}
		button{
			width: 223px;
			height: 60px;
			margin-right: 20px;
			font-size: 20px;
			font-weight: 400;
			line-height: 20px;
			background: #DA0034;
			color: #ffffff;
			border-radius: 3px;
			border: none;
			&:hover{
				background-color: #F41349;
			}
			&:focus,
			&:active{
				background-color: #C6002F;
			}
			@include for-pad{
				width: 200px;
				height: 50px;
			}
			@include for-mobile{
				margin-right: 0;
			}
		}

		.form_policy{
			display: block;
			margin: 0;
			@include for-mobile{
				margin-bottom: 20px;
			}
			@include for-phone{
				width: 56%;
			}
			p{
				user-select: none;
				font-weight: 500;
				font-size: 14px;
				line-height: 16px;

				&:before{
					top: 0px;
				}

				&:after{
					top: 3px;
				}
			}

			a{
				border-bottom: 1px dashed #C6002F;
			}
		}
	}
}
.input_wrapper.date_wrapper{
	position: relative;
}
.input_wrapper_date_wrapper{
	position: absolute;
    width: 315px;
    //height: 305px;
    font-size: 15px;
    line-height: 24px;
    color: #1A2824;
    background-color: #fff;
    border: 1px solid #DEDEDE;
    z-index: 20;
    padding: 15px 20px 28px 20px;
    display: flex;
    flex-direction: column;
    top: 45px;
    right: 0;

    @include for-phone{
    	// width: 100%;
    	// padding: 23px 12px;
    }

    .date_wrapper_title{
		position: relative;
		display: flex;
		p{
			width: 200px;
    		margin: 0 auto;
			font-size: 16px;
			font-weight: 700;
			text-align: center;
		}
    }
	.date_wrapper_arrows{
		position: absolute;
	}
    .date_wrapper_arrow{
		position: absolute;
    	background: url(/img/date_arrow.svg) no-repeat;
	    width: 20px;
	    height: 20px;
	    cursor: pointer;
	    &._prev{
			left: 4px;
		    transform: rotate(-180deg);
	    }
		&._next{
			right: -270px;
		}
    }
    .date_wrapper_weeks{
    	display: flex;
    	flex-direction: column;
    }
    .date_wrapper_week {
	    display: flex;
	    justify-content: space-between;
	    margin-top: 8px;

	    p{
	    	width: 32px;
		    height: 32px;
		    text-align: center;
		    cursor: pointer;
		    line-height: 32px;
		    &.not_this_month{
		    	color: #C4C4C4;
		    }
		    &:hover{
				background-color: #DA0032;
				border-radius: 3%;
				color: #ffffff;
		    }
		    &._now{
				background-color: #DA0032;
				border-radius: 3%;
				color: #ffffff;
			}
	    }
    	&.week_title{
    		p{
    			background-color: #fff;
    			cursor: auto;
    		}
    	}
	}
}
.form_success,
.form_success_recall {
	display: none;
	text-align: center;
    margin: 0 auto;
    padding: 40px 10px;
    background-color: #eaf7fb;
    border-radius: 3px;
	.form_title_main{
		font-size: 18px;
		margin-bottom: 10px;
	}
	.form_close_bottom{
		width: 223px;
		height: 40px;
		margin: 0 auto;
		margin-top: 20px;
		line-height: 40px;
		text-align: center;
		color: #fff;
		background-color: #0c8cd4;
		border-radius: 3px;
		cursor: pointer;
		&:hover{
			background-color: #24A3EB;
		}
		&:focus,
		&:active{
			background-color: #0179BD;
		}
		@include for-mobile{
			width: 198px;
			height: 35px;
			font-size: 14px;
			line-height: 35px;
		}
	}
}
.object_form{
	//width: 560px;
    //height: 373px;
    .form_wrapper{
    	border-radius: 4px;
	    //padding: 24px 48px 33px 40px;
	    background: url(/img/Gift_box.png) no-repeat left, url(/img/Gift_ribbon_popup.png) no-repeat right, $clrBackground;
	    background-position: bottom -74px right -37px, bottom 0px left 0px;
	    background-size: 36% , 25%;
	    height: 414px;
	    @include for-desktop{
	    	// background-size: 25% , 20%;
	    }
	    @include for-pad{
	    	// padding: 0 16px;
	    	// background-size: 20% , 0;
	    	// height: auto;
	    }
	    @include for-mobile{
	    	// padding: 0 16px;
	    	// background-size: 20% , 0;
	    	// height: auto;
	    }
	    @include for-phone{
    	    // padding: 0px 12px 30px;
		    // height: auto;
		    // background-size: 50%,0%;
	    }
    }
    .form_main{
    	flex-direction: column;
    	padding:0 100px 0 40px;
    	@include for-desktop{
    		// padding: 0px 20px;
    	}
    	@include for-pad{
	    	// padding: 0;
	    }
	    @include for-mobile{
	    	// padding: 0;
	    }
    }
    .form_title{
    	width: 100%;
    	margin: 0;
    	justify-content: left;
    	@include for-notdesc{
	    	// display: none;
	    }
    }
    .form_title_main{
    	font-size: 24px;
		line-height: 32px;
    }
    .form_block{
    	width: 100%;
    }
    .form_inputs{
    	justify-content: left;
    	@include for-pad{
    		// justify-content: space-between;
    	}
    	@include for-mobile{
    		// justify-content: space-between;
    	}
    	.input_wrapper{
	    	width: 47%;

	    	@include for-desktop{
	    		// width: 43%;
	    		// margin-left: 0;
	    	}
	    	@include for-pad{
	    		// width: 25%;
	    		// margin: 0;
	    	}
	    	@include for-mobile{
	    		// width: 23%;
	    		// margin: 0;
	    	}
	    	@include for-phone{
	    		// width: 100%;
    			// margin: 0;
	    	}
	    	input[name=date] {
    			background: url(/img/calendar_icon.svg) no-repeat right, $clrBackground;
				@include for-phone{
					width: 50%;
				}
    		}
	    	&:nth-child(1),
	    	&:nth-child(3){
	    		margin-right: 25px;
    			@include for-pad{
		    		// margin: 0;
		    	}
		    	@include for-mobile{
		    		// margin: 0;
		    	}
	    	}
	    	&:nth-child(4){
	    		width: 30%;
	    		@include for-desktop{
		    		// width: 37%;
		    	}
		    	@include for-pad{
		    		// width: 18%;
		    	}
		    	@include for-mobile{
		    		// width: 25%;
		    	}
		    	@include for-phone{
		    		// width: 100%;
	    			// margin: 0;
		    	}
	    	}
	    }
    }
    
    .form_submit{
    	@include for-pad{
    		justify-content: left;
    	}
    	// button{
    	// 	width: 72%;
    	// 	@include for-pad{
	    // 		width: 25%;
	    // 	}
	    // 	@include for-mobile{
	    // 		width: 25%;
	    // 	}
	    // 	@include for-phone{
	    // 		width: 72%;
	    // 	}
    	// }
    	// .form_policy{
    	// 	margin-top: 0;
    	// 	margin-right: 0;
    	// 	@include for-phone{
    	// 		margin-top: 12px;
    	// 	}
    	// }
    }
}

.for-free{
	text-transform: uppercase;
	font-weight: bold;
	color: #DA0034;
}