.content_advantages{
    width: 100%;
    margin-bottom: 90px;
    @include for-desktop{
        margin-bottom: 53px;
        background-color: #EAF7FB;
        .content_block{
            @include for-mobile{
                padding: 0 45px;
            }
            @include for-phone{
                padding: 0 15px;
            }
        }
    }
    @include for-pad{
        margin-bottom: 51px;
    }
    @include for-phone{
        margin-bottom: 55px;
    }
    .content_advantages_info{
        display: flex;
        width: 100%;
        min-height: 400px;
        padding-top: 60px;
        padding-left: 70px;
        background-color: #EAF7FB;
        border-radius: 3px;
        @include for-desktop{
            padding-top: 56px;
            padding-left: 0;
        }
        @include for-pad{
            flex-direction: column;
            min-height: 570px;
            align-items: center;
            padding-top: 43px;
        }
        @include for-mobile{
            min-height: 627px;
        }
    }
    .content_advantages_left{
        width: 47%;
        margin-right: 70px;
        padding-top: 20px;
        @include for-desktop{
            width: 48%;
            margin-right: 47px;
            padding-top: 12px;
        }
        @include for-pad{
            padding-top: 0;
        }
        @include for-pad{
            width: 100%;
            margin-right: 0;
            margin-bottom: 5px;
        }
        @include for-mobile{
            margin-bottom: 7px;
        }
        .content_advantages_title{
            margin-bottom: 26px;
            font-size: 36px;
            font-weight: bold;
            line-height: 1;
            color: #272727;
            @include for-desktop{
                margin-bottom: 18px;
                font-size: 26px;
            }
            @include for-pad{
                margin-bottom: 17px;
            }
            @include for-phone{
                font-size: 24px;
            }
        }
        .content_advantages_desc{
            margin-bottom: 23px;
            line-height: 20px;
            color: #272727;
            @include for-phone{
                margin-bottom: 21px;
                line-height: 21px;
            }
        }
    }
    .content_advantages_right{
        width: 45%;
        @include for-desktop{
            width: 46%;
        }
        @include for-pad{
            width: 84%;
        }
        @include for-mobile{
            width: 100%;
        }
        .advantages_items{
            padding-left: 69px;
            @include for-mobile{
                padding-left: 64px;
            }
            @include for-phone{
                padding-left: 62px;
            }
        }
        .advantages_item_title{
            position: relative;
            margin-bottom: 11px;
            font-size: 16px;
            font-weight: bold;
            line-height: 1;
            color: #0C8CD4;
            @include for-desktop{
                margin-bottom: 6px;
            }
            @include for-phone{
                margin-bottom: 7px;
            }
            &::before{
                position: absolute;
                top: 0;
                left: -65px;
                content: '';
                display: block;
                width: 44px;
                height: 40px;
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center center;
            }
            &:first-child{
                &::before{
                    background-image: url(/img/podbor.svg);
                }
            }
            &:nth-child(3){
                &::before{
                    background-image: url(/img/consul.svg);
                }
            }
            &:nth-child(5){
                &::before{
                    background-image: url(/img/bron.svg);
                }
            }
        }
        .advantages_item_desc{
            margin-bottom: 35px;
            font-size: 14px;
            line-height: 19px;
            color: #272727;
            @include for-desktop{
                margin-bottom: 20px;
            }
            @include for-pad{
                margin-bottom: 28px;
            }
            @include for-phone{
                line-height: 18px;
            }
        }
    }
    // .content_info_adv_title{
    //     font-weight: bold;
    //     font-size: 32px;
    //     line-height: 40px;
    //     color: #fff;
    //     text-align: center;
    //     margin: 0;
    //     width: 1200px;
    // }
    // .content_info_adv{
    //    height: auto;
    //    justify-content: center;
    //    position: relative;
    //    top: auto;
    // }
    // .content_info_wrap{
    //     width: 352px;
    //     margin: 0 20px;
    //     @include for-mobile{
    //         margin: 0 10px;
    //     }
    //     @include for-phone{
    //         display: flex;
    //         flex-direction: column;
    //         width: auto;
    //         margin: 6px 10px 6px 80px;
    //         position: relative;
    //         .main_rectangle{
    //             width: 64px;
    //             height: 64px;
    //             position: absolute;
    //             top: -14px;
    //             left: -69px;
    //         }
            

    //     }
    // }
    // .content_info_adv_h{
    //     font-weight: bold;
    //     font-size: 20px;
    //     line-height: 24px;
    //     color: #FFFFFF;
    //     margin-top: 50px;
    //     @include for-mobile{
    //         font-size: 17px;
    //     }
    //     @include for-phone{
    //         margin-top: 0;
    //         margin-left: -5px;
    //     }
    // }
    // .content_info_adv_p{
    //     font-size: 14px;
    //     line-height: 20px;
    //     color: #FFFFFF;
    //     @include for-phone{
    //         margin-left: -5px;
    //     }
    // }
    // .main_rectangle{
    //     margin: 0 auto;
    //     @include for-phone{
    //         width: 64px;
    //         height: 64px;
    //         position: relative;
    //         top: auto;
    //         left: auto;
    //         .main_rectangle_1{
    //             position: absolute;
    //             left: 0%;
    //             right: 26.79%;
    //             top: 36.6%;
    //             bottom: -9.81%;

    //             /* Base Color */

    //             background: linear-gradient(0deg, #FFC24A, #FFC24A), linear-gradient(0deg, #B1C86F, #B1C86F), linear-gradient(0deg, #D64582, #D64582), linear-gradient(97.87deg, #A70C72 -6.24%, #E50799 104.4%), #29EDB2;
    //             border-radius: 16px;
    //             transform: rotate(-30deg);
    //         }
    //         .main_rectangle_icon{
    //             width: 40px;
    //             height: 40px;
    //             position: absolute;
    //             top: -26px;
    //             left: -4px;
    //         }
    //     }
    // }
}

.main_blog{
    margin-bottom: 80px;
    text-align: center;
    @include for-desktop{
        margin-bottom: 50px;
    }
    .main_blog_title{
        margin-bottom: 24px;
        font-size: 32px;
        font-weight: bold;
        color: #272727;
        @include for-desktop{
            margin-bottom: 15px;
            font-size: 24px;
        }
        @include for-pad{
            margin-bottom: 17px;
            font-size: 22px;
        }
        @include for-mobile{
            font-size: 24px;
        }
        @include for-phone{
            margin-bottom: 16px;
        }
    }
    .all_articles{
        width: 100%;
        a{
            font-size: 16px;
            color: #DA0034;
            border-bottom: 1px solid #DA0034;
            &:hover{
                border-bottom: none;
            }
        }
    }
    .content_block{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @include for-mobile{
            flex-direction: column;
            align-items: center;
            padding: 0 45px;
        }
        @include for-phone{
            padding: 0 15px;
        }
    }
    .blog_item{
        position: relative;
        display: flex;
        flex-direction: column;
        width: 467px;
        height: 257px;
        margin-bottom: 20px;
        background-color: #888480;
        @include for-desktop{
            width: 290px;
            height: 166px;
            margin-bottom: 16px;
        }
        @include for-pad{
            width: 210px;
            height: 123px;
            margin-bottom: 21px;
        }
        @include for-mobile{
            width: 65%;
            min-width: 330px;
            height: 193px;
        }
        @include for-phone{
            min-width: 289px;
            height: 169px;
        }
        @include for-phone{
            margin-bottom: 18px;
        }
        a{
            display: block;
            width: 100%;
            height: 100%;
        }
    }
    .blog_item_4, .blog_item_5{
        display: none;
    }
    .blog_img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .blog_text{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }
    .blog_title{
        padding: 0 40px;
        font-size: 18px;
        font-weight: bold;
        color: #FFFFFF;
        @include for-desktop{
            padding: 0 30px;
            font-size: 16px;
        }
        @include for-pad{
            padding: 0 10px;
        }
    }
    .blog_description{
        font-size: 18px;
        font-weight: bold;
        color: #FFFFFF;
        &._main-blog{
            display: none;
        }
    }
    .blog_date{
        font-size: 18px;
        font-weight: bold;
        color: #FFFFFF;
        &._main-blog{
            display: none;
        }
    }
}
.main_podborki{
    @include for-phone{
    }
    .podborki_title{
        font-size: 36px;
        font-weight: bold;
        text-align: center;
        color: #272727;
        @include for-desktop{
            font-size: 26px;
        }
        @include for-pad{
            font-size: 24px;
        }
    }
    .content_block{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 370px;
        @include for-desktop{
            margin-bottom: 256px;
        }
        @include for-pad{
            margin-bottom: 193px;
        }
        @include for-mobile{
            margin-bottom: 213px;
        }
        @include for-phone{
            margin-bottom: 265px;
        }
    }
    .restaurant_item{
        width: 272px;
        height: 164px;
        background: #FFFFFF;
        border: 1px solid #F8F8F8;
        box-shadow: 0px 5px 20px rgba(34, 36, 28, 0.1);
        border-radius: 4px;
        margin: 12px;
        @include for-mobile{
            width: 240px;
            margin: 4px;
        }
        @include for-phone{
            margin: 8px;
            width: 142px;
            height: auto;
        }
    }
    .restaurant_img{
        height: 120px;
        @include for-phone{
            overflow: hidden;
        }
        img{
            width: 100%;
            @include for-phone{
                width: auto;
                height: 100%;
            }
        }
    }
    .restaurant_text{
        text-align: center;
        padding: 9px;

        a{
            font-size: 15px;
            line-height: 24px;
            @include for-phone{
                line-height: 18px;
            }
        }
        span{
            font-size: 11px;
            line-height: 24px;
            color: #848484;
            margin-left: 5px;
            @include for-phone{
                display: none;
            }
        }
    }
}
.bottom_block{
    margin-top: 80px;
    margin-bottom: 27px;
    @include for-desktop{
        margin-top: 0;
        margin-bottom: 14px;
    }
    @include for-pad{
        margin-bottom: 34px;
    }
    .content_block{
        position: relative;
        max-height: 250px;
        padding-bottom: 60px;
        @include for-pad{
            padding: 0 30px;
        }
        @include for-mobile{
            padding: 0 45px;
        }
        @include for-phone{
            padding: 0 15px;
        }
        p{
            margin: 0;
            line-height: 21px;
            &:first-child{
                margin-bottom: 20px;
            }
        }
        .seo_text_control{
            position: absolute;
            bottom: -5px;
            height: 150px;
            cursor: pointer;
            ._link{
                width: 140px;
                color: #DA0034;
                border-bottom: 1px dashed #DA0034;
            }
        }
        @include for-phone{
            &._hidden{
                max-height: 240px;
            }
        }
    }
}