.object_head{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: calc(100% - 450px);
    position: relative;
    min-height: 472px;
    margin-top: 27px;
}

.object_gallery{
    width: 710px;
    height: 463px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.object_meta{
    display: flex;
    flex-direction: column;

    @include for-desktop{
    }
    @include for-pad{
    }
    @include for-phone{
    }
    p{
        font-size: 16px;
        line-height: 18px;
        @include for-pad{
            font-size: 14px;
        }
    }
    .object_meta_item{
        @include for-desktop{
        }
        @include for-pad{
        }
        &:first-child{
            margin-bottom: 26px;
            @include for-desktop{
                width: 100%;
            }
            @include for-pad{
                margin-bottom: 21px;
            }
        }
        &:not(:first-child){
            @include for-desktop{
                width: 48%;
            }
            @include for-pad{
                width: 47%;
            }
        }
        &:last-child{
            display: flex;
            flex-direction: column;
            .item_wrap{
                @include for-desktop{
                    .item_left_side{
                        width: 40%;
                    }
                }
            }
        }
        .object_name{
            margin-bottom: 16px;
            font-weight: 700;
            font-size: 30px;
            color: #272727;
            @include for-pad{
                margin-bottom: 9px;
                font-size: 24px;
            }
        }
        .object_address{
            margin-bottom: 20px;
            padding-left: 15px;
            font-size: 16px;
            font-weight: 400;
            color: #0C8CD4;
            @include for-pad{
                margin-bottom: 21px;
            }
            &:before{
                content: url(/img/geo_icon.svg);
                margin-right: 6px;
                margin-left: -15px;
            }
            @include for-desktop{
                line-height: 1.2;
                font-size: 14px;
            }
            @include for-pad{
                font-size: 16px;
            }

            span{
                border-bottom: 1px dashed #0C8CD4;
            }
        }
        .item_desc{
            margin-bottom: 3px;
            font-size: 16px;
            font-weight: 400;
            color: #272727;
        }
        .object_price{
            color: #DA0034;
        }
        .item_wrap{
            display: flex;
            margin-bottom: 6px;
        }
    }
    &:first-child{
        margin-bottom: 35px;
        .object_meta_item{
            .item_left_side{
                display: flex;
                width: 35%;
                .object_meta_title{
                    font-weight: 400;
                    font-size: 16px;
                    color: #4F4F4F;
                    white-space: nowrap;
                    @include for-pad{
                        font-size: 14px;
                    }
                    & + div{
                        width: 100%;  
                    }
                    & + div > p {
                        width: 100%;
                        height: 18px;
                        border-bottom: 1px dotted #C2C2C2;
                    }
                }
            }
            .object_meta_value{
                width: 65%;
                @include for-pad{
                    width: 60%;
                    font-size: 14px;
                }
            }
            &:nth-child(2) {
                margin-bottom: 3px;
                .item_wrap{
                    &:last-child{
                        .object_meta_title{
                            flex: 0 0 85%;
                            white-space: pre-wrap;
                        }
                    }
                }
                @include for-desktop{
                    margin-right: 30px;
                    .item_left_side{
                        width: 55%;
                    }
                    .object_meta_value{
                        width: 45%;
                    }
                }
                @include for-pad{
                    margin-right: 35px;
                }
            }
            &:last-child{
                .item_wrap{
                    &:first-child{
                        margin-bottom: 12px;
                    }
                }
            }
        }
    }
    &:last-child{
        flex-direction: row;
        justify-content: space-between;
        .object_meta_item{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            max-width: 345px;
            height: 131px;
            margin-bottom: 0;
            background-color: #EAF7FB;
            @include for-desktop{
                max-width: 450px;
                height: 100px;
            }
            @include for-pad{
                width: 330px;
            }
            .free_order{
                display: block;
                width: 223px;
                height: 40px;
                margin-top: 3px;
                line-height: 40px;
                text-align: center;
                background-color: #0C8CD4;
                color: #ffffff;
                border-radius: 3px;
                cursor: pointer;
                &:hover{
                    background-color: #24A3EB;
                }
                &:focus,
                &:active{
                    background-color: #0179BD;
                }
            }
        }
    }
    @include for-desktop{
        &:first-child{
            flex-direction: row;
            flex-wrap: wrap;
            margin-bottom: 26px;
        }
    }
    @include for-pad{
        &:first-child{
            margin-bottom: 9px;
        }
    }
}

.object_book{
    background: white;
    padding: 15px 20px 25px;

    .object_book_text{
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
    }

    .object_book_action{
        margin-top: 14px;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        padding-left: 43px;
        background-image: url(/img/gift_icon.svg);
        background-position: 0px 50%;
        background-size: 30px;
        background-repeat: no-repeat;
        min-height: 37px;
    }
}

.object_book_hidden{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .object_book_phone{
        font-size: 30px;
        font-weight: 700;
        @include for-pad{
            font-size: 24px;
        }
    }
    &._active{
        .object_book_phone{
            .object_fake_phone{
                display: none;
            }
            .object_real_phone{
                display: block;
            }
        }
        .object_book_hidden_button{
            display: none;
        }
    }
    .object_book_phone{
        margin: 10px 0 5px 0;
        @include for-pad{
            margin: 0;
        }
        .object_fake_phone{
            letter-spacing: 1%;
        }
        .object_real_phone{
            display: none;
            font-size: 24px;
            line-height: 32px;
            font-weight: 600;
        }
    }
    .object_book_hidden_button{
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #0C8CD4;
        border-bottom: 1px dashed #0C8CD4;
        //margin: 0px 0px 2px;
        cursor: pointer;
        width: max-content;
    }
}

.object_parameters{

    .object_parameters_list{
        margin-top: 20px;

        .object_parameters_title{
            font-weight: bold;
            font-size: 16px;
            margin-bottom: 10px;
        }

        .object_parameters_item{
            font-weight: 500;
            font-size: 14px;
            line-height: 22px;
        }

        &._marked{
            
            .object_parameters_item{
                padding-left: 20px;
                background-image: url(/img/list_pin.svg);
                background-position: 0px 6px;
                background-size: 12px;
                background-repeat: no-repeat;
            }
        }
    }
}

.object_desc_wrap{
    display: flex;
    
    height: 540px;
    &.content_block{
        @include for-pad{
            height: auto;
            flex-direction: column;
            margin-top: 0;
            width: 100%;
        }
        @include for-mobile{
            height: auto;
            flex-direction: column;
            margin-top: 0;
            width: 100%;
        }

    }
    p{
        color: #1A2824;
    }
}
.object_desc{
    width: 50%;
    padding: 24px;
    border: 1px solid #DEDEDE;
    @include for-pad{
        width: 100%;
        border: none;
        padding: 24px 12px;
    }
    @include for-mobile{
        width: 100%;
        border: none;
        padding: 24px 12px;
    }
    p{
        margin: 16px 0;
        @include for-desktop{
            margin: 12px 0;
        }
    }
}
.object_desc_item{
    display: flex;
    justify-content: space-between;
    position: relative;
    @include for-phone{
        align-items: flex-end;
    }
    .dots{
        background-image: -webkit-repeating-radial-gradient(center center, #1A2824, #1A2824 1px, rgba(255,255,255,0) 1px, rgba(255,255,255,0) 100%);
        background-image: -moz-repeating-radial-gradient(center center, #1A2824, #1A2824 1px, rgba(255,255,255,0) 1px, rgba(255,255,255,0) 100%);
        background-image: -ms-repeating-radial-gradient(center center, #1A2824, #1A2824 1px, rgba(255,255,255,0) 1px, rgba(255,255,255,0) 100%);
        background-image: repeating-radial-gradient(center center, #1A2824, #1A2824 1px, rgba(255,255,255,0) 1px, rgba(255,255,255,0) 100%);
        -webkit-background-size: 3px 3px;
        -moz-background-size: 3px 3px;
        background-size: 3px 3px;
        width: 50%;
        height: 4px;
        position: absolute;
        bottom: 3px;
        background-repeat: repeat-x;
        margin-left: 3px;
        @include for-mobile{
            width: 40%;
        }
    }
}

.object_desc_title{
    font-weight: bold;
    font-size: 15px;
    line-height: 24px;
    color: #1A2824;
    display: inline-block;
    z-index: 2;
    background: #fff;
    padding-right: 3px;
    @include for-mobile{
        max-width: 43%;
    }
}
.object_desc_value{
    color: #1A2824;
    min-width: 50%;
    display: inline-block;
    z-index: 2;
    background: #fff;
    font-size: 15px;
    line-height: 24px;
    padding-left: 5px;
    @include for-desktop{
      min-width: 37%; 
    }
    @include for-pad{
        min-width: 60%;
    }
    @include for-mobile{
        min-width: 55%;
    }
}
.object_contacts{
    width: 50%;
    padding: 24px 0 0 0;
    background-color: $clrBackground;
    border: 1px solid #DEDEDE;
    @include for-pad{
        width: 98%;
        margin: 0 12px;
    }
    @include for-mobile{
        width: 98%;
        margin: 0 12px;
    }
    @include for-phone{
        border: none;
        padding: 16px 0 0 0;
    }
}

.rest_top_wrap{
    background-color: $clrBackground;
    .content_block{
        @include for-phone{
            flex-direction: column;
        }
    }
    .rest_top{
        position: relative;
        display: flex;
        margin-bottom: 50px;
        .rest_top_left{
            width: 712px;
            margin-right: 20px;
            @include for-desktop{
                width: 100%;
                margin-right: 0;
                margin-bottom: 60px;
            }
            @include for-pad{
                margin-bottom: 50px;
            }
        }
        .rest_top_right{
            width: 710px;
            @include for-desktop{
                align-self: center;
                width: 773px;
            }
            @include for-pad{
                width: 690px;
            }
        }
        .rest_order_block{
            position: absolute;
            bottom: 0;
            right: -222px;
            width: 202px;
            height: 156px;
            padding: 14px 0;
            background-color: #da0034;
            border-radius: 3px;
            @include for-large-desktop{
                display: none;
            }
        }
        .order_block_wrap{
            position: relative;;
            width: 190px;
            margin: 0 auto;
            .order_block_title{
                margin-bottom: 4px;
                text-align: center;
                font-size: 16px;
                line-height: 16px;
                color: #ffffff;
            }
            & > .object_book_hidden{
                margin-bottom: 9px;
                .object_book_phone{
                    margin: 0;
                    font-size: 18px;
                    font-weight: 700;
                    color: #ffffff;
                }
                .object_book_hidden_button{
                    font-size: 14px;
                    line-height: 20px;
                    color: #ffffff;
                    border-bottom: 1px dashed #ffffff;
                }
            }
            .order_block_call{
                width: 140px;
                height: 40px;
                margin: 0 auto;
                font-size: 14px;
                line-height: 40px;
                text-align: center;
                background-color: #272727;
                color: #ffffff;
                border-radius: 3px;
                cursor: pointer;
                &:hover{
                    background-color: #404040;
                }
                &:focus,
                &:active{
                    background-color: #202020;
                }
            }
            .order_block_arr{
                position: absolute;
                top: 56px;
                left: -16px;
                width: 20px;
                height: 20px;
                text-align: center;
                font-size: 12px;
                line-height: 21px;
                border-radius: 50%;
                background-color: #272727;
                color: #fff;
            }
        }
        @include for-desktop{
            flex-direction: column;
            margin-bottom: 60px;
        }
        @include for-pad{
            margin-bottom: 50px;
        }
    }
}

.rest_desc_wrap{
    margin-bottom: 50px;
}

.rest_desc{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    @include for-pad{
        .rest_desc_col {
            width: 50%;
        }
        .rest_desc_col:first-child{
            width: 100%;
        }
    }
    @include for-mobile{
        flex-direction: column;
        .rest_desc_col {
            width: 100%;
        }
    }
}
.rest_desc_col {
    display: flex;
    flex-direction: column;
}
.rest_desc_title{
    font-weight: bold;
}
.rest_desc_item.seo_text {
    margin-bottom: 8px;
    p{
        margin: 0;
        @include for-desktop{
            line-height: 21px;
        }
    }
}
.rest_optional_wrap{
    margin-bottom: 50px;
    @include for-desktop{
        margin-bottom: 60px;
    }
    @include for-pad{
        margin-bottom: 50px;
    }
    .rest_optional{
        margin-bottom: 12px;
        font-size: 26px;
        font-weight: 700;
        color: #272727;
    }
    .item_optional{
        display: flex;
        flex-wrap: wrap;
        padding: 20px 0 16px 11px;
        border: 1px solid #D0E1E7;
        @include for-desktop{
            padding-left: 36px;
            padding-bottom: 0;
        }
        @include for-pad{
            padding-top: 16px;
            padding-left: 16px;
        }
        .optional{
            display: flex;
            margin-right: 40px;
            align-items: center;
            @include for-desktop{
                flex: 0 0 23%;
                margin-right: 105px;
                margin-bottom: 19px;
                &:nth-child(3n){
                    margin-right: 0;
                }
            }
            @include for-pad{
                flex: 0 0 27%;
                margin-right: 60px;
            }
            p{
                font-size: 12px;
                line-height: 1.2;
                color: #696969;
            }
            .optional__pic {
                width: 40px;
                height: 40px;
                margin-right: 8.5px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                @include for-pad{
                    margin-right: 6px;
                }
            }
            .fire{
                background-image: url(/img/fire.svg);
                @include for-desktop{
                }
            }
            .bocal{
                background-image: url(/img/bocal.svg);
                @include for-desktop{
                }
            }
            .outdoor{
                background-image: url(/img/outdoor.svg);
                @include for-desktop{
                }
            }
            .light{
                background-image: url(/img/light.svg);
                @include for-desktop{
                }
            }
            .music{
                background-image: url(/img/music.svg);
                @include for-desktop{
                }
            }
            .disco{
                background-image: url(/img/disco.svg);
                @include for-desktop{
                }
            }
        }
        .optional:last-child{
            margin-right: 0;
        }
    }
}


.rest_rooms_wrap{
    margin-bottom: 50px;
    background-color: $clrBackground;
    @include for-desktop{
        margin-bottom: 60px;
    }
    @include for-pad{
        margin-bottom: 50px;
    }
    .content_block{
        position: relative;
        .other_objects_container{
            width: 100%;
            padding: 0;
        }
        .rooms_widget_arrow{
            position: absolute;
            display: block;
            top: unset;
            left: unset;
            width: 31px;
            height: 31px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            &:hover{
                filter: brightness(150%);
            }
            &:focus,
            &:active{
                filter: brightness(90%);
            }
            @include for-pad{
                top: 5px;
                width: 24px;
                height: 24px;
            }
        }
        & > ._prev{
            right: 60px;
            background-image: url(/img/prev-arr.svg);
            @include for-pad{
                right: 55px;
            }
        }
        & > ._next{
            right: 16px;
            transform: unset;
            background-image: url(/img/next-arr.svg);
        }
    }
    .rest_rooms_list{
        margin-bottom: 11px;
        font-size: 26px;
        font-weight: 700;
        color: #272727;
        @include for-pad{
            margin-bottom: 13px;
        }
    }
    .rest_rooms{
        display: flex;
        flex-wrap: wrap;
    }
    .rest_room{
        display: flex;
        width: 467px;
        flex-direction: column;
        border-radius: 3px 3px 0 0;
        overflow: hidden;
        border: 1px solid #D0E1E7;
        &:nth-child(3n){
            margin-right: 0;
        }
        p{
            line-height: 18px;
        }
        .rest_room_name{
            margin-bottom: 10px;
            margin-left: 16px;
            font-size: 20px;
            font-weight: 700;
            color: #272727;
            @include for-desktop{
                margin-left: 24px;
                margin-bottom: 3px;
            }
            @include for-pad{
                margin-left: 15px;
            }
            a{
                color: inherit;
            }
        }
        .rest_room_price{
            margin-bottom: 17px;
            margin-left: 16px;
            font-size: 18px;
            font-weight: 700;
            color: #272727;
            @include for-desktop{
                margin-left: 24px;
                margin-bottom: 10px;
            }
            @include for-pad{
                margin-left: 15px;
            }
        }
        .rest_room_item{
            margin-left: 16px;
            @include for-desktop{
                margin-left: 24px;
            }
            @include for-pad{
                margin-left: 15px;
            }
            p{
                display: inline-block;
            }
            &:last-child{
                margin-bottom: 11px;
                @include for-desktop{
                    margin-bottom: 20px;
                }
                @include for-pad{
                    margin-bottom: 17px;
                }
            }
        }
        .rest_room_title{
            width: 170px;
            font-size: 14px;
            font-weight: 400;
            color: #4F4F4F;
            @include for-pad{
                width: 165px;
            }
        }
        .rest_room_value{
            font-size: 14px;
            font-weight: 400;
            color: #272727;
        }
    }
}

.rest_room_img{
    height: 311px;
    margin-bottom: 20px;
    @include for-desktop{
        height: 303px;
    }
    @include for-pad{
        height: 225px;
    }
    @include for-mobile{
        justify-content: left;
        width: 266px;
    }
    @include for-phone{
        width: 100%;
    }
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
.other_objects{
    background: #F8F8F8;
    padding: 32px 0 48px;
    h2{
        margin: 0 auto 24px;
    }
    .swiper-container{
        .listing_widget_controll{
            .listing_widget_pagination{
                @include for-pad{
                    display: block;
                }
            }
        }
    }
}
.other_object{
    background-color: #fff;
    padding: 24px;
    width: 391px;
    height: 412px;
    .other_object_img{
        height: 55%;
    }
    img{
        width: 100%;
        height: 100%;
    }
    @include for-mobile{
        padding: 0;
    }

    .title{
        margin-top: 12px;
        text-align: left;
        font-size: 17px;
        line-height: 22px;
        @include for-notdesc{
            align-items: flex-start;
        }
        @include for-phone{
            margin: 12px 12px 0;
        }
    }
    .restaurant_name{
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        margin: 4px auto;
        @include for-phone{
            margin: 4px 12px;
        }
    }
    .object_meta_item{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        @include for-desktop{
            flex-direction: column;
        }
        @include for-notdesc{
            flex-direction: column;
        }
        @include for-phone{
            margin: 0 12px 12px;
        }
    }
    .object_desc_item{
        flex-direction: column;
        .object_desc_title{
            padding: 0;
            @include for-phone{
                max-width: none;
            }
        }
        .object_desc_value{
            padding: 0;
            @include for-phone{
                min-width: auto;
                margin-left: 3px;
            }
        }
        @include for-phone{
            align-items: flex-start;
            //flex-direction: row;
            justify-content: left;
        }
    }

}

.other_rests_wrap{
    background-color: #fff;
    .content_block{
        position: relative;
        .other_objects_container{
            padding: 0;
        }
        .other_widget_arrow{
            position: absolute;
            display: block;
            top: unset;
            left: unset;
            width: 31px;
            height: 31px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            &:hover{
                filter: brightness(150%);
            }
            &:focus,
            &:active{
                filter: brightness(90%);
            }
            @include for-pad{
                top: 5px;
                width: 24px;
                height: 24px;
            }
        }
        & > ._prev{
            right: 60px;
            background-image: url(/img/prev-arr.svg);
            @include for-pad{
                right: 55px;
            }
        }
        & > ._next{
            right: 16px;
            transform: unset;
            background-image: url(/img/next-arr.svg);
        }
    }
    &.listing_wrap{
        padding: 0;
        margin-bottom: 54px;
        @include for-desktop{
            margin-bottom: 60px;
        }
        @include for-pad{
            margin-bottom: 50px;
        }
    }
    .same_rest_list{
        margin-bottom: 13px;
        text-align: center;
        font-size: 26px;
        font-weight: 700;
        color: #272727;
    }
    .items_list_listing{
        padding: 0;
        .items_list{
            flex-direction: row;
            margin: 0;
            .item{
                position: unset;
                flex-direction: column;
                width: 467px;
                margin: 0;
                margin-right: 20px;
                .item_img{
                    position: unset;
                    width: 100%;
                    height: 290px;
                    @include for-pad{
                        height: 213px;
                    }
                }
                .item_info{
                    margin-left: 0;
                    padding: 0 22px;
                    @include for-pad{
                        padding: 0 15px;
                    }
                    .item_info_top{
                        margin: 15px 0 0 0;
                        @include for-pad{
                            margin-bottom: 15px;
                        }
                        .item_name{
                            font-size: 20px;
                            line-height: 1;
                        }
                        .item_parent_name{
                            font-size: 20px;
                            line-height: 1;
                        }
                    }
                    .item_meta{
                        margin-bottom: 7px;
                        flex-direction: column;
                        @include for-pad{
                            margin-bottom: 14px;
                        }
                        .item_meta_items{
                            margin-right: 0;
                            width: 100%;
                            &:first-child{
                                margin-bottom: 11px;
                                .item_meta_item{
                                    display: none;
                                }
                            }
                            &:last-child{
                                padding-top: 10px;
                                border-top: 1px solid #D0E1E7;
                                @include for-pad{
                                    padding-top: 6px;
                                }
                                .item_meta_item{
                                    &:first-child{
                                        display: none;
                                    }
                                    &:nth-child(3){
                                        order: -1;
                                    }
                                    &:last-child{
                                        display: block;
                                    }
                                }
                            }
                            .item_address{
                                @include for-pad{
                                    margin-bottom: 0;
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
                .item_optional{
                    display: none;
                }
            }
        }
    }
}

div[data-page-type='item']{
    .for-free{
        display: none;
    }
}



// .rest_desc_value {
//     &._check{
//         &:before{
//             content: url(/img/checkbox_pin.svg);
//             width: 10px;
//             height: 24px;
//             margin-right: 6px;
//         }
//     }
// }


