.map_wrap{
	margin-bottom: 50px;
	@include for-desktop{
		margin-bottom: 60px;
	}
	@include for-pad {
		margin-bottom: 50px;
	}
}
.map{
	width: 100%;
	height: 520px;
	position: relative;
	overflow: hidden;
	@include for-mobile{
		margin-top: 0;
	}
	#map{
		width: 100%;
		height: 100%;
	}
}
.map_data_wrap{
	display: none;
    position: absolute;
    z-index: 500;
    left: 50%;
    top: 25%;
    @include for-mobile{
    	display: block;
    }
}
.map_data{
	position: relative;
	left: -50%;
	top: -50%;
    background: #fff;
    width: 296px;
    height: 240px;
    padding: 16px 12px;
}
.map_img_wrap{
	height: 96px;
    overflow: hidden;
	img{
    	width: 100%;
    }
}
.map_rest_name{
	font-size: 14px;
    line-height: 20px;
    border-bottom: 1px dashed;
    margin: 8px 0;
    display: inline-block;
}
.map_rest_address{
	font-size: 14px;
    line-height: 20px;
    color: #848484;
}
.map_close{
	font-size: 14px;
	line-height: 20px;
	color: $clrBlue;
	border-bottom: 1px dashed;
	cursor: pointer;
	width: 120px;
    margin: 8px auto;
    text-align: center;
}
.balloon_content_wrap{
	display: flex;
}
.balloon_content_img{
	width: 126px;
	img{
		width: 100%;
	}
}
.ballon_content_text{
	margin-left: 12px;
    width: 192px;
    .ballon_content_name{
    	font-size: 14px;
	    line-height: 20px;
	    font-family: Lato;
	    border-bottom: 1px dashed;
	}
	.ballon_content_address{
		font-family: Lato;
	    font-size: 14px;
	    line-height: 20px;
	    color: #848484;
	}
	@include for-mobile{
	    width: 150px;
	}
}