.seo_text{
    height: auto;
    max-height: 80px;
    overflow: hidden;
    text-align: justify;
    background: #000;
    background: linear-gradient(to top,transparent 0, #000 60%, #000 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.seo_text_control{
    width: fit-content;
    cursor: pointer;
    ._link{
        width: fit-content;
        color: #da0034;
        border-bottom: 1px dashed #da0034;
        &:hover{
            opacity: 0.8;
        }
    }
}