.object_gallery_wrap{
  position: relative;
  margin-top: 48px;
  background-color: $clrBackground;
  & > .object_gallery_container{
    margin-bottom: 10px;
    @include for-pad{
      margin-bottom: 4px;
    }
    @include for-mobile{
      margin-bottom: 8px;
    }
  }

  @include for-mobile{
    //height: 200px; 
    margin-top: 0;   
  }

  .swiper-container {
      padding: 0;
  }
  &._rest{
    margin-top: 0;
  }
  &._blog{
    height: 480px;
    overflow: hidden;

    .listing_widget_arrow{
      filter: invert(1);
      top: calc(50% - 24px);
      cursor: pointer;
      @include for-mobile{
        //top: 125px;
        display: block;
      }
      @include for-phone{
        display: none;
      }
    } 
    .listing_widget_controll{
      position: absolute;
      top: 444px;
      z-index: 1;
      width: 100%;
      .listing_widget_pagination{
        display: block;
      }
      @include for-mobile{
        top: 290px;
      }
      @include for-phone{
        top: 175px;
      }
    }

    @include for-mobile{
      height: 315px;
    }
    @include for-phone{
      height: 200px;
      margin-top: 16px;
    } 
  }
  .listing_widget_arrow{
      top: calc(50% - 40px);
      z-index: 2;
      cursor: pointer;
      &._prev {
          left: 0;
      }
      &._next {
          right: 0;
      }
      @include for-pad{
        display: block;
        //top: 150px;
      }
      @include for-mobile{
        //top: 76px;
      }
      @include for-phone{
        display: block;
        //top: 80px;
      }
  }
}
.object_gallery_container {
  width: 100%;
  //height: 300px;
  margin-left: auto;
  margin-right: auto;
  @include for-desktop{
      &.swiper-container{
        width: 100%;
      }
  }
  
  .object{
    display: flex;
    align-items: flex-end;
    //cursor: pointer;
    
    
    img{
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .object_img{
      position: relative;  
      height: 463px;
      width: 100%;
      overflow: hidden;
      cursor: pointer;
      @include for-desktop{
        height: 504px;
      }
      @include for-mobile{
        height: 332px;
        // img{
        //   width: 100%;
        //   position: absolute;
        //    top: 50%;
        //    left: 50%;
        //    transform: translate(-50%, -50%);
        // }
      }

    }
}
[data-gallery-main-swiper] {
  position: relative;
  max-height: 463px;
  max-width: 100%;
  @include for-desktop{
    max-height: 504px;
  }
  @include for-pad{
    max-height: 449px;
  }
  .listing_widget_controll{
    position: absolute;
    bottom: 16px;
    left: 50%;
    margin-left: -25%;
    z-index: 5;
  }
}
[data-gallery-thumb-swiper] {
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
  padding: 10px 0;

  @include for-phone{
    display: none;
  }

  .swiper-wrapper{
    transition-property: none;
  }
  .swiper-slide {
    width: 60px;
    height: 65px;
    opacity: 0.4;
    @include for-desktop{
      height: 72px;
    }
    @include for-mobile{
      height: 48px;
    }
  }
  .swiper-slide-active, .swiper-slide-next, .swiper-slide-prev, .swiper-slide-virtual-active {
    opacity: 1;
  }
  .object{
    img{
      width: 100%;
      height: auto;
    }
  }
}
[data-gallery-img-swiper]{
  .object_gallery_swiper{
    .object_img {
      height: auto;
    }
  }
}

.rooms_widget_arrow{
  z-index: 2;
  cursor: pointer;
}
.other_widget_arrow{
  z-index: 2;
  cursor: pointer;
}